
<header>
	<nav class="top-nav teal">
		<div class="container">
			<div class="nav-wrapper"><a class="page-title">Rentanit</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="text-white" href="<%= root_path %>">Home</a></li>
					<li><a class="text-white" href="<%= sign_in_path %>">Sign In</a></li>
					<li><a class="text-white" href="<%= sign_up_path %>">Sign Up</a></li>
				</ul>

				<ul id="nav-mobile" class="side-nav">
					<li class="teal"><h3 style="margin:0; padding:20px 20px; ">Site Nav</h3></li>
					<li><a href="<%= root_path %>">Home</a></li>
					<li><a href="<%= sign_in_path %>">Sign In</a></li>
					<li><a href="<%= sign_up_path %>">Sign Up</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</div>
	</nav>
</header>